/* popup */
#popup { 
    position: fixed; width: 500px; height: 500px; background-color: #eff4fe; box-shadow: 3px 3px 10px rgba(0,0,0,.4); 
    border-radius: 20px; z-index: 9999; font-size: 2.4rem; padding: 50px; box-sizing: border-box; line-height: 2; 
    top: 150px; left: 150px; font-family: "GmarketSansMedium", sans-serif; color: #000;
}
#popup button { cursor: pointer; color: #134aa9; background-color: transparent; position: absolute; right: 20px; bottom: 20px; font-size: 3.4rem; }